Morten Rask <morten.rask@live.dk>
Mathias Ibsen <Flarenityy>
Lasse F. Gadegaard <lasse-fribo@hotmail.com>
Christian Mønsted Grünberg <cmgrunberg@gmail.com>
Kristian Træholt Sørensen <kts92@hotmail.com>
Kristian Træholt Sørensen <Traeholt@*.klient.str.site.aau.dk>
